<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>

        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
                  v-model="email"
                  outline
                  placeholder="introduce tu email"
                  label="E-mail"
          >
          </v-text-field>
          <br>
          <v-text-field
                  label="Alto de tu mapa"
                  outline
                  v-model="alto"
                  :rules ="altoRules"
                  required
          ></v-text-field>
          <v-text-field
                  label="Largo de tu mapa"
                  outline
                  v-model="largo"
                  :rules ="largoRules"
                  required
          ></v-text-field>
          <v-text-field
                  label="Cantidad de minas"
                  outline
                  v-model="minas"
                  :rules ="minasRules"
                  required
          ></v-text-field>
          <v-btn color="info" v-on:click="fetchMapa()" v-if="">Generar Mapa de minas</v-btn>
        </v-form>
        <br>
        <p align
        <table>
          <tr v-for="item in this.mapa.tablero">
            <td>{{item}}</td>
          </tr>
        </table>


      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'HelloWorld',
        props: {
        },
        data: function(){
            return {
                //msg: 'Welcome to BuscaMinas',
                mapa: [],
                valid: false,
                email: '',
                emailRules: [
                    v => !!v || 'E-mail es requerido',
                    v => /.+@.+(com|org|ar)/.test(v) || 'E-mail debe ser valido'
                ],
                alto: '',
                altoRules:  [
                    v => !!v || 'Debe rellenar con un numero',
                    v => v > 2 ||'Debe ser mayor de 2 para poder generar un mapa valido',
                    v => v < 25 ||'Debe ser menor de 15 para poder generar un mapa valido'
                ],
                largo: '',
                largoRules:  [
                    v => !!v || 'Debe rellenar con un numero',
                    v => v > 2 ||'Debe ser mayor de 2 para poder generar un mapa valido',
                    v => v < 25 ||'Debe ser menor de 15 para poder generar un mapa valido'
                ],
                minas: '',
                minasRules:  [
                    v => !!v || 'Debe rellenar con un numero',
                    v => v > 2 ||'Debe ser mayor de 2 para poder generar un mapa valido',
                    v => v < 25 ||'Debe ser menor de 15 para poder generar un mapa valido'
                ]
            }
        },
        methods: {
            fetchMapa: function () {
                if (this.$refs.form.validate()) {
                    // Native form submission is not yet supported
                    axios.get(`http://0.0.0.0:3000/buscaminas/index?alto=${this.alto}&largo=${this.largo}&minas=${this.minas}`)
                        .then(response => {
                                this.mapa = response.data
                            },error => {
                                console.log(error)
                            }
                        )
                }

            },

            clear () {
                this.$refs.form.reset()
            }



        },
        mounted: function() {
            console.log(this.alto)
            this.fetchMapa()
        },

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>





